.numpad {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	margin: 20px auto;
}
.num {
	padding: 20px;
	text-align: center;
	font-size: 24px;
	cursor: pointer;
}
.submit-btn {
	width: 100%;
	padding: 15px;
}