.form-signin {
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.table-row-action {
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}

tr:hover .table-row-action,
tr:focus-within .table-row-action {
  opacity: 1;
}
